@{
    ViewBag.Title = "Stranica1";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<adress>
    AlfaBK<br />
    Palmira Toljatija 3, Beograd 11070<br />
    <abbr title="Telefon">T:</abbr>
    011 2606380<br />
</adress>
<adress>
    <strong>Sajt</strong> <a href="https://alfa.edu.rs/?lang=en">https://alfa.edu.rs/?lang=en</a><br />
    <img src="https://lh3.googleusercontent.com/p/AF1QipNNTlxW77KDUeyO2VM-c2d7Ik8IaUgkV6Ta-Hxn=s680-w680-h510" width="1000" height="1000"
</adress>